.swiper {
    position: relative;
    max-width: 85vw;
    width: 100%;
    height: 87vh;
    margin: 0 auto;
}

.slide-item {
    width: 100%;
    height: 90vh;
    object-fit: cover;
}

.swiper-button-prev,
.swiper-button-next {
    background-color: #000000;
    font-size: 24px;
    padding: 4rem 1.2rem 4rem 1.2rem;

}

.swiper-button-next::after {
    margin-left: -50px;
}

.swiper-button-prev::after {
    margin-right: -50px;
}

.swiper-button-next::after,
.swiper-button-prev::after {
    transition: margin 0.3s ease;
    color: #fff;
}


.swiper-button-next:hover::after,
.swiper-button-prev:hover::after {
    margin-left: 0;
    margin-right: 0;
}

.overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.5);
    width: 800px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.overlay h1 {
    font-size: 4.5rem;
    color: #1a1a1a;
    margin-bottom: 10px;
    margin-right: 10rem;
    font-weight: 1;
    text-transform: uppercase;
    font-family: "Segoe UI", Arial, sans-serif;
}

.overlay p {
    font-size: 1.5rem;
    margin-bottom: 20px;
    color: #1a1a1a;
    font-weight: 1;
    font-family: "Segoe UI", Arial, sans-serif;
}

.overlay .buttons {
    display: flex;
    justify-content: start;
    margin: 0 0 2.5rem 2.5rem;

}

.overlay-title {
    margin-left: 3rem;
    margin-top: 2rem;
    margin-right: 3rem;
}

.overlay-text {
    margin-top: 2rem;
    margin-left: 3rem;
}

.overlay .buttons .button1 {
    margin: 0 0.3rem;
    padding: 1rem 1.3rem;
    width: 12.5rem;
    border: none;
    border: 2px solid #000000;
    background-color: #000000;
    color: #fff;
    font-size: 1.06rem;
    cursor: pointer;
    font-family: "Segoe UI", Arial, sans-serif;

}

.overlay .buttons button:hover {
    background-color: #ffffff;
    color: #000000;
}

.overlay .buttons .button2 {
    margin: 0 1rem;
    padding: 1rem 2rem;
    width: 10rem;
    height: 3.8rem;
    border: none;
    background-color: rgba(255, 255, 255, 0);
    border: 2px solid #000000;
    color: #000000;
    font-size: 1.06rem;
    cursor: pointer;
    font-family: "Segoe UI", Arial, sans-serif;

}

@media only screen and (max-width: 1000px) {
    .overlay {
        display: none;
    }

    .swiper {
        position: relative;
        max-width: 750px;
        width: 100%;
        height: 90vh;
        margin: 0 auto;
    }

}