.card {
    position: relative;
    overflow: hidden;
    width: 20rem;
    height: 50vh
}
.card{
    opacity: 0;
    transform: translateX(100%);
    transition: opacity 1s, transform 1.5s;
}
.card.active{
    opacity:1;
    transform: translateX(0);
}

.card-image {
    width: 100%;
    height: 50vh;
    object-fit: cover;
    transition: filter 1s, transform 1s ease-in-out;
}

.card-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card:hover .card-image {
    filter: brightness(70%);
    transform: scale(1.05);
}

.card:hover .card-overlay {
    opacity: 1;
}

.chat-description {
    color: #fff;
    font-size: 16px;
    text-align: center;
}

.collection-layout {
    display: flex;
    justify-content: center;
}

.collection-container {
    max-width: 85vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2.5rem;
}

.collection-item {
    flex: 0 1 calc(30% - 10px);
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 1200px) {
    .collection-item {
        flex: 0 1 calc(45% - 10px);
    }
}

@media (max-width: 768px) {
    .collection-item {
        flex: 0 1 calc(100% - 10px);
        margin-right: 0;
    }
}