.sobre-layout {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
}

.sobre-title-container {
    background-color: rgb(216, 233, 184);
    padding: 3rem;
}

.sobre-title {
    font-size: 4.5rem;
    font-weight: 1;
    text-align: center;
    color: #1a1a1a;
    font-size: clamp(2rem, 6vw, 4.5rem);
    font-family: "Segoe UI", Arial, sans-serif;
}

.sobre-container1 {
    max-width: 70vw;
    display: grid;
    margin: 0 auto;
    grid-template-columns: 1fr 1fr;
    margin-top: 5%;
}

.sobre-left {
    display: flex;
    justify-content: center;
}

.sobre-right {
    display: flex;
    justify-content: start;
    flex-direction: column;
    margin-top: 5rem;
    margin-left: 4rem;

}

.sobre-img {
    width: 90%;
    height: 1000px;
    overflow: hidden;
    object-fit: cover;
}

.sobre-subtitle {
    font-size: clamp(1rem, 6vw, 2.5rem);
    color: #1a1a1a;
    font-weight: 1;
    font-family: "Segoe UI", Arial, sans-serif;
    margin-bottom: 1rem;
}

.sobre-subtitle2 {
    font-size: clamp(1rem, 6vw, 2rem);
    color: #1a1a1a;
    font-weight: 1;
    font-family: "Segoe UI", Arial, sans-serif;
    margin-bottom: 1rem;
}

.sobre-text {
    font-size: 1rem;
    color: #1a1a1a;
    font-weight: 50;
    font-family: "Segoe UI", Arial, sans-serif;
    margin-bottom: 2rem;
}

.sobre-text-grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 5% auto;
    max-width: 70vw;
    justify-items: center;
    align-items: center;
    grid-gap: 2rem;
}

.sobre-text-container {
    display: flex;
    width: 95%;
    flex-direction: column;
    justify-content: center;
}

.sobre-container1,
.sobre-text-container,
.sobre-title {
    opacity: 0;
    transform: translateY(100%);
    transition: opacity 1s, transform 1.5s;
}

.sobre-container1.active,
.sobre-text-container.active,
.sobre-title.active {
    opacity: 1;
    transform: translateX(0);
}

@media (max-width: 1200px) {
    .sobre-container1 {
        grid-template-columns: 1fr;
    }

    .sobre-img {
        display: none;
    }

    .sobre-right {
        margin-left: 0;
    }

    .sobre-text-grid-container {
        grid-template-columns: 1fr;
    }

}

@media (max-width: 1000px) {
    .sobre-layout {
        margin-top: 5rem;
    }
}

/*---------------------------------------------------------------------------*/


.privacy-policy-layout {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
}

.privacy-policy-title-container {
    background-color: rgb(216, 233, 184);
    padding: 3rem;
}

.privacy-policy-title {
    font-size: 4.5rem;
    font-weight: 1;
    text-align: center;
    color: #1a1a1a;
    font-size: clamp(2rem, 6vw, 4.5rem);
    font-family: "Segoe UI", Arial, sans-serif;
}

.privacy-policy-text-layout {
    display: flex;
    flex-direction: column;
}

/*-----------------------------------------------------------*/
.albuns-cardcollection {
    margin-top: 2.5rem;
}

@media (max-width: 1000px) {
    .albuns-cardcollection {
        margin-top: 7.5rem;
    }
}

.about-text {
    margin-left: 2rem;
}