nav {
    position: sticky;
    padding: 20px;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    z-index: 9999;
}

.nav_container {
    display: flex;
    align-items: center;
    margin: 0 auto;
    max-width: 1200px;
}

.nav_list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0;
}


nav a {
    text-transform: capitalize;
    margin-right: 30px;
    color: #000000;
}

.header-container-menu-item {
    display: inline-block;
    padding: 0 5px;
}

.header-container-menu-item:hover a {
    color: #fec544;
}

.header-toggle {
    display: none;
}

@media only screen and (max-width: 768px) {
    .nav_list {
        margin-left: auto;
        flex-grow: 0;
    }

    .header-container-menu {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        top: 80px;
        position: absolute;
        left: -100%;
        opacity: 0;
        transition: opacity 0.6s ease-out, transform 0.6s ease-out;

    }


    .active {
        background-color: rgba(255, 255, 255, 0.8);
        left: 0px;
        opacity: 1;
        align-items: end;
        transition: all 0.5s ease-in;
        transition: opacity 0.3s ease-in, transform 0.3s ease-in;
    }

    .header-toggle {
        display: block;
        color: #000000;
    }
}