.section1-layout {
    max-width: 70vw;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin-top: 5%;
    position: relative;
}

.section2 {
    margin-top: 5%;
    background-color: rgb(216, 233, 184);
    padding-bottom: 3%;
    position: relative;
}

.section2-layout {
    max-width: 70vw;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
    position: relative;
}

.section3 {
    margin-top: 3rem;
    position: relative;
}



.section1-title {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-size: clamp(2rem, 6vw, 4.5rem); 
    color: #1a1a1a;
    font-weight: 1;
    font-family: "Segoe UI", Arial, sans-serif;
    text-align: center;
}

.section3-title {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-size: clamp(2rem, 6vw, 4.5rem); 
    color: #1a1a1a;
    font-weight: 1;
    font-family: "Segoe UI", Arial, sans-serif;
    text-align: center;
}


.section2-title {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-size: clamp(2rem, 6vw, 4.5rem); 
    color: #1a1a1a;
    font-weight: 1;
    font-family: "Segoe UI", Arial, sans-serif;
    text-align: center;
}

.title-line {
    margin-top: 1rem;
    margin-bottom: 3rem;
    width: 50%;
    border-bottom: 2px solid #000;
    margin-left: auto;
    margin-right: auto;
}

.title-line3 {
    margin-top: 1rem;
    margin-bottom: 3rem;
    width: 15%;
    border-bottom: 2px solid #000;
    margin-left: auto;
    margin-right: auto;
}

.section1-title2 {
    display: flex;
    justify-content: center;
    font-size: clamp(2rem, 6vw, 4.5rem); 
    color: #1a1a1a;
    font-weight: 1;
    font-family: "Segoe UI", Arial, sans-serif;
    text-align: center;
}

.section3-cardcollection {
    margin-top: 5%;


}

.section1-container {
    display: flex;
    flex-direction: row;
    max-width: 85vw;
    justify-content: center;
    position: relative;
}

.section2-container {
    display: flex;
    flex-direction: row;
    max-width: 85vw;
    justify-content: center;
    position: relative;
}

.section1-left {
    flex: 1;
}

.section2-left {
    flex: 1;
    margin-top: 1rem;
    font-family: "Segoe UI", Arial, sans-serif;

}

.section1-left text {
    margin-bottom: 10px;
}

.section1-right {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 2;

}

.section2-right {
    flex: 1;
    margin-top: 1rem;
    font-family: "Segoe UI", Arial, sans-serif;
    overflow: hidden;
}

.section2-text {
    margin-left: 3rem;
}


.section2-img {
    margin-top: -10%;
    width: 100%;
    height: 90vh;

}

.section1-button {
    width: 15rem;
    height: 3.8rem;
    text-align: center;
    background-color: rgba(255, 255, 255, 0);
    border: 2px solid #000000;
    background-color: #000000;
    color: #fff;
    font-size: 1.06rem;
    cursor: pointer;
    font-family: "Segoe UI", Arial, sans-serif;
}

.section1-left,
.section1-title,
.section1-title2,
.section1-button {
    opacity: 0;
    transform: translateY(100px);
    transition: opacity 1s, transform 1.5s;
}

.section1-left.active,
.section1-title.active,
.section1-title2.active,
.section1-button.active {
    opacity: 1;
    transform: translateX(0);
}

.section2-text,
.section2-title,
.title-line,
.section2-button {
    opacity: 0;
    transform: translateX(100%);
    transition: opacity 1s, transform 1.5s;
}

.section2-text.active,
.section2-title.active,
.title-line.active,
.section2-button.active {
    opacity: 1;
    transform: translateX(0);
}

.section3-title,
.title-line3,
.section3-cardcollection {
    opacity: 0;
    transform: translateX(100%);
    transition: opacity 1s, transform 1.5s;
}

.section3-title.active,
.title-line3.active,
.section3-cardcollection.active {
    opacity: 1;
    transform: translateX(0);
}

.section2-button-container {
    margin-top: 3rem;
    display: flex;
    justify-content: center;
}

.section2-button {
    width: 15rem;
    height: 3.8rem;
    text-align: center;
    background-color: rgba(255, 255, 255, 0);
    border: 2px solid #000000;
    background-color: #000000;
    color: #fff;
    font-size: 1.06rem;
    cursor: pointer;
    font-family: "Segoe UI", Arial, sans-serif;
}

.section1-button:hover,
.section2-button:hover {
    background-color: #ffffff;
    color: #000000;
}

@media only screen and (max-width: 1000px) {
    .section1-container {
        flex-direction: column;
    }

    .section1-button {
        margin-top: 2rem;
    }

    .section2-img{
        display: none;
    }

    .section2-container {
        flex-direction: column;
    }

    .section2-text {
        margin-left: 0rem;
    }

}